<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Gateway-server</title>
</head>

<body>
<p><a href="eureka-server/">eureka-server</a></p>
<p><a href="eureka-server/hystrix/">eureka-server/hystrix</a></p>
<p><a href="eureka-server/hystrix/monitor?stream=http%3A%2F%2Fgateway-server%2Factuator%2Fhystrix.stream">https://gateway-server/eureka-server/hystrix/monitor?stream=http://gateway-server/actuator/hystrix.stream</a>
</p>
<p><a href="admin-server/">admin-server</a></p>
<p><a href="oauth2-server/">oauth2-server</a></p>
<p><a href="resource-server/">resource-server</a></p>
<p><a href="client-server/">client-server</a></p>
<p><a href="client-server/test/api">client-server/test/api</a></p>
</body>
</html>