[Unit]
Description=app
After=syslog.target

[Service]
User=myapp
ExecStart=/app/app.jar
SuccessExitStatus=143
Restart=always

[Install]
WantedBy=multi-user.target